@font-face {
    font-family: 'home-hero-header';
    src: url('../../res/fonts/Audiowide-Regular.ttf');
}

@font-face {
    font-family: 'home-hero-names';
    src: url('../../res/fonts/GoogleSansCode-VariableFont_wght.ttf');
}

.home-hero {
    width: 100%;
    min-height: 800px;
    background-position: center bottom 10%;
    background-repeat: no-repeat;
    background-image: url('/res/images/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to top, #000, transparent);
    z-index: 1;
}

.home-hero h2 {
    color: #fff;
    font-size: 6rem;
    font-family: 'home-hero-header', sans-serif;
    z-index: 2;
}

.home-hero ul {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.home-hero ul li {
    color: gold;
    background-image: linear-gradient(45deg, gold, rgb(255, 237, 122) 50%, gold);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 16px;
    font-family: 'home-hero-names';
    font-weight: bolder;
    letter-spacing: 2px;
}

.stream-links {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    z-index: 2;
}

.stream-links a {
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stream-links a img {
    width: 30px;
    height: 30px;
}